<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unilife.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.unilife.model.entity.User">
        <id column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="role" property="role"/>
        <result column="is_verified" property="isVerified"/>
        <result column="status" property="status"/>
        <result column="login_ip" property="loginIp"/>
    </resultMap>
    <insert id="insert" parameterType="com.unilife.model.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (
            username, email, password,nickname,avatar,bio, gender,student_id,department, major,grade,points,role,status,is_verified,login_ip,login_time
        ) VALUES (
                     #{username},
                     #{email},
                     #{password},
                     #{nickname},
                     #{avatar},
                     #{bio},
                     #{gender},
                     #{studentId},
                     #{department},
                     #{major},
                     #{grade},
                     #{points},
                     #{role},
                     #{status},
                     #{isVerified},
                     #{loginIp},
                     #{loginTime}
                 )
    </insert>

    <select id="FindByEmail" resultMap="userResultMap">
        SELECT id, email, password, username, nickname, avatar, role, is_verified, status,login_ip
        FROM users
        WHERE email = #{email} AND password = #{password}
    </select>

    <select id="FindByOnlyEmail" resultMap="userResultMap">
        SELECT id, email, password, username, nickname, avatar, role, is_verified, status,login_ip
        FROM users
        WHERE email = #{email}
    </select>

    <update id="UpdateIPLocation" parameterType="com.unilife.model.entity.User">
        UPDATE users
        SET login_ip = #{loginIp}
        WHERE email = #{email}
    </update>

    <select id="getUserByEmail" resultType="com.unilife.model.entity.User">
        select username,
               email,
               password,
               nickname,
               avatar,
               bio,
               gender,
               student_id,
               department,
               major,
               grade,
               points,
               role,
               status,
               is_verified,
               login_ip,
               login_time
        from users where email=#{email};
    </select>
</mapper>